page-about {

        .card-background-page{
            border-radius: 10px;
            border: 1px solid rgb(216, 112, 193);
        }
    
    span{
        font-weight: 600;
        padding-right: 10px;
    }
    .ff{
        font-size: 20px;
        padding: 5px 20px;
        margin-left: 35px;
    }

    .it1{
        border: 1px 0 1px 1px solid rgb(216, 112, 193); 
        background: linear-gradient(90deg, rgba(212, 80, 235, 0.637) 0%, rgba(17, 0, 255, 0.507) 100%);
    }
    .bg{
        background-color: rgba(255, 228, 254, 0.514);
    }
    
    img{
        border: 2px solid rgb(216, 112, 193);
        border-radius: 50%;
        width: 120px;
        align-items: center;
        margin: auto;
    }
    
}
