page-about {

      
    
    span{
        font-weight: 600;
        padding-right: 10px;
    }
    .ff{
        font-size: 20px;
        padding: 5px 20px;
        margin-left: 35px;
    }

 
    .bg{
        background-color: rgba(255, 228, 254, 0.514);
    }
    
    img{
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50%;
        width: 120px;
        align-items: center;
        margin: auto;
    }
    
}
